html {
  box-sizing: border-box;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  vertical-align: middle;
  margin: 0;
}

h2 {
  font-family: Lato, sans-serif;
  display: inline-block;
  padding-left: 1em;
  padding-bottom: 1em;
  margin: 0;
}

div {
  display: inline-block;
  max-width: 25em;
}

.div {
  padding: 0;
  margin-bottom: 1em;
}

img {
  width: 100%;
  max-width: 25em;
  margin: 1.5rem;
  display: block;
}

.great {
  font-family: Lato, sans-serif;
  display: inline-block;
  padding-left: 1.5em;
  padding-bottom: 1em;
  padding-top: 2em;
  margin: 0;
  max-width: 25em;
  line-height: 1.5;
  text-align: left;
}

p {
  line-height: 1.5;
  display: inline-block;
}

.btn {
  display: inline-block;
  background-color: #f2f2f2;
  color: #666;
  border-radius: .3em;
  font-family: Lato, sans-serif;
  padding: .4em .75em .5em;
  text-decoration: none;
  border: 3px solid #333;
  max-width: 25em;
  text-align: center;
  margin-left: 1.5em;
}
