html {
  box-sizing: border-box;
  background-color: #f2f2f2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  vertical-align: middle;
  margin: 0;
}

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  display: inline-block;
  max-width: 25em;
  margin-left: 1.5rem;
}

div {
  display: inline-block;
  max-width: 25em;
}

img {
  width: 100%;
  max-width: 25em;
  display: block;
}

.great {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  display: inline-block;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
  max-width: 25em;
  line-height: 1.5;
  text-align: left;
}

p {
  line-height: 1.5;
  display: inline-block;
}

.btn {
  display: inline-block;
  background-color: #f2f2f2;
  color: #666;
  border-radius: .3em;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  padding: 0.4em 0.75em 0.5em;
  text-decoration: none;
  border: 3px solid #333;
  max-width: 25em;
  text-align: center;
  margin-left:1.5rem;
  font-weight: 400;
}
